* {
  margin: 0%;
}
.container {
  width: 300px;
  height: 650px;
  margin-top: 85px;
  padding: 50px;
  background-color: rgb(12, 11, 11);
  color: rgb(243, 242, 241);
  border-radius: 5px;
  bottom: 50px;
  align-items: center;
}

#name {
  bottom: 0px;
  position: relative;
}
#output {
  color: white;
}
